@{
    string formID = ViewBag.AIName + "-form";
    string inputID = ViewBag.AIName + "-input";
    string submitID = ViewBag.AIName + "-submit";
    string outputID = ViewBag.AIName + "-output";

}
<form id="@formID" action="#" method="get">
    <label for="@(inputID + "1")">Phone</label><br />
    <span class="no-wrap-container">
        @for (var i = 1; i <= 10; i++)
        {
            if (i == 1){<span class="bold">&#40;</span>}
            if (i == 4){<span class="bold">&#41;</span>}
            if (i == 7){<span class="bold">&#45;</span>}

            <input class="jq_ui_spinner" min="0" max="9" onkeydown="return false;"  value="0" id="@(inputID + i)" />
        }
    </span>
    <input type="submit" id="@submitID" class="btn btn-default" value="Submit"/>
</form>

<!-- submit the form -->
<script type="text/javascript" name="submit-@formID">
    $(document).ready(function () {
        $("#@formID").on("submit", function(event){
            event.preventDefault();
            var inputs = "";
            for (var i = 1; i <= 10; i++) {
                inputs += $("#@inputID" + i).val();
            }
            $("#@outputID").attr("data-output", inputs);
            formatOutputPhone("@outputID");
            animateOutput("@outputID");
        });
    });
</script>

<style>
    #@formID .ui-spinner {
        width:2.35em;
    }
    #@formID .ui-spinner-input {
	    margin-left: .2em;
        width:.75em;
    }
    #@formID .ui-spinner-button {
        width:1em;
}
</style>

@*
    ===== AI Notes =====
    - Individual number inputs
*@
