@{
    string formID = ViewBag.AIName + "-form";
    string inputID = ViewBag.AIName + "-input";
    string submitID = ViewBag.AIName + "-submit";
    string outputID = ViewBag.AIName + "-output";

}
<form id="@formID" action="#" method="get">
    <label for="@(inputID + "1")">Phone</label><br />
    <span class="no-wrap-container">
        @for (var i = 1; i <= 10; i++)
        {
            if (i == 1) {<span class="bold">&#40;</span>}
            if (i == 4) {<span class="bold">&#41;</span>}
            if (i == 7) {<span class="bold">&#45;</span>}
            <select id="@(inputID + i)" name="@(inputID + i)">
                @for (var e = 0; e < 10; e++)
                {
                  <option value="@e" if (e == 1) {&#40;}>@e</option>
                }
            </select>
        }
    </span>
    <input type="submit" id="@submitID" />
</form>

<!-- submit the form -->
<script type="text/javascript" name="submit-@formID">
    $(document).ready(function () {
        $("#@formID").on("submit", function(event){
            event.preventDefault();
            var inputs = "";
            for (var i = 1; i <= 10; i++) {
                inputs += $("#@inputID" + i).val();
            }
            console.log(inputs);
            $("#@outputID").attr("data-output", inputs);
            formatOutputPhone("@outputID");
            animateOutput("@outputID");
        });
    });
</script>

<style>
    select.squish {
        /*max-width:5%;*/
    }
</style>

@*
    ===== AI Notes =====
    - Individual digit drop downs
*@