@{
    string formID = ViewBag.AIName + "-form";
    string inputID = ViewBag.AIName + "-input";
    string submitID = ViewBag.AIName + "-submit";
    string outputID = ViewBag.AIName + "-output";
    string bogoButtonID = ViewBag.AIName + "-bogo-button";
}
<form id="@formID" action="#" method="get">
    <label for="@(inputID + "1")">Phone</label><br />
    <div class="no-wrap-container">
        @for (var i = 1; i <= 10; i++)
        {
            if (i == 1)
            {<span class="bold">&#40;</span>}
            if (i == 4)
            {<span class="bold">&#41;</span>}
            if (i == 7)
            {<span class="bold">&#45;</span>}

            <div class="bogo-input">
                <button data-bogo-button-num="@i" type="button" id="@(bogoButtonID + i)" class="btn btn-default bogo-button">B</button>
                <br />
                <input type="text" id="@(inputID + i)" maxlength="1" />
            </div>
        }
    </div>
    <input type="submit" id="@submitID" class="btn btn-default" value="Submit" />
</form>

<!-- submit the form -->
<script type="text/javascript" name="submit-@formID">
    $(document).ready(function () {
        $("#@formID").on("submit", function(event){
            event.preventDefault();
            var inputs = "";
            for (var i = 1; i <= 10; i++) {
                inputs += $("#@inputID" + i).val();
            }
            $("#@outputID").attr("data-output", inputs);
            formatOutputPhone("@outputID");
            animateOutput("@outputID");
        });
    });

    $('#@formID .bogo-button').on('click', function () {
        var inputID = "@inputID" + $(this).attr("data-bogo-button-num");
        var input = $('#' + inputID);
        var newNum = Math.floor(Math.random() * 9) + 1;
        input.attr("value", newNum.toString());
    });
</script>

<style>
    #@formID .bogo-input {
        display:inline-block;
    }

    #@formID input[type="text"], #@formID .bogo-button {
        width:2em;
        padding:.5em; !important    
    }

    
</style>

@*
    ===== AI Notes =====
    - Individual digit bogo sorts
*@