@{
    string formID = ViewBag.AIName + "-form";
    string inputID = ViewBag.AIName + "-input";
    string submitID = ViewBag.AIName + "-submit";
    string outputID = ViewBag.AIName + "-output";

}
<form id="@formID" action="#" method="get">
    <label for="@(inputID + "1")">Phone</label><br />
    <input type="text" maxlength="20" id="@(inputID + "1")" name="@(inputID + "1")"/>
    <input type="submit" id="@submitID" />
</form>

<!-- submit the form -->
<script type="text/javascript" name="submit-@formID">
    $(document).ready(function () {
        $("#@formID").on("submit", function(event){
            event.preventDefault();
            $("#@outputID").attr("data-output", $("#@(inputID + "1")").val());
            formatOutputPhone("@outputID");
            animateOutput("@outputID");
        });
    });
</script>

<style>

</style>

@*
    ===== AI Notes =====
    - Just a simple text input
*@